@import "./dashboard.css";
@import "./main.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --grey2: #5c5c5c;
  --black1: #222;
  --black2: #999;
  --prueba: #0f0;
}
